{% extends "base.html" %}

{% block title %}{{ tara_nume }}{% endblock %}

{% block extra_css %}
.content {
    text-align: center;
}
.buttons {
    margin-top: 30px;
}
{% endblock %}

{% block navbar %}
<a href="/">Toate Țările</a>
<a href="{{ '/' ~ tara ~ '/capitala' }}">Capitala</a>
<a href="{{ '/' ~ tara ~ '/steag' }}">Steag</a>
<a href="{{ '/' ~ tara ~ '/populatie' }}">Populație</a>
{% endblock %}

{% block content %}
<h1>{{ tara_nume }}</h1>
<p style="max-width: 800px; margin: 0 auto 30px auto;">{{ descriere }}</p>
<div class="buttons">
    <a href="{{ '/' ~ tara ~ '/capitala' }}">Capitala</a>
    <a href="{{ '/' ~ tara ~ '/steag' }}">Steag</a>
    <a href="{{ '/' ~ tara ~ '/populatie' }}">Populație</a>
</div>
{% endblock %}
